body {
  background-color: pink; /* Sets the background color to pink */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Sets the height of the body to full viewport height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

img {
  padding: 10px; /* Adds padding around the image */
  background-color: darkgreen; /* Sets the background color behind the image to dark green */
}
